#proper name <proper@email> commit name <commit@email>
Johnathan Jakob <jjakob@techfak.uni-bielefeld.de> <Johnathan Jakob>
Timo Mechsner <tmechsner@techfak.uni-bielefeld.de> <timo.mechsner@mailbox.org>
Timo Mechsner <tmechsner@techfak.uni-bielefeld.de> <timo.mechsner@gmail.com>
Benedikt Volkmer <bvolkmer@techfak.uni-bielefeld.de> <benedikt_v@web.de>
Benedikt Volkmer <bvolkmer@techfak.uni-bielefeld.de> <bvolkmer@uni-bielefeld.de>
Jan Luca Offel <joffel@echfak.uni-bielefeld.de> <joffel@techfack.uni-bielefeld.de>


#Matthias
#Philip
#Freddy
#Martin
#(Sascha) Alexander
#David
#Jan Patrick
#Brian
