<!DOCTYPE html>
<html layout:decorator="layout/layout_page" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml" xmlns:mail="http://www.w3.org/1999/xhtml">
<head>

    <title th:text="PROREMA - ${contact.nameTitle} ${contact.firstName} ${contact.lastName} ">PROREMA - Dr.
        Max Mustermann</title>



</head>
<body>

<div layout:fragment="content">

    <div class="page-header">
        <div class="row">
            <div class="col-md-9">
                <h1 th:text="#{domain.contactProfile.contactProfile}">
                    Kontakt Profil
                </h1>
            </div>
        </div>
    </div>

    <div th:unless="${contact == null}" class="jumbotron container-fluid">

        <div class="col-md-10">
            <h2><b
                    th:text="${contact.nameTitle}+' '+${contact.firstName}+' '+${contact.lastName}"></b>
            </h2>
            <h3>
                <font color='#808080'><a th:href="@{/client(id=${client.id})}" th:text="${client.name}">Fancy Client</a></font>
            </h3>
        </div>
        <div class="col-md-2">
            <br />
            <br />
            <a class="btn btn-success btn-large" th:href="@{/contactform(id=${contact.id})}" th:text="#{domain.contactProfile.editContact}">Kontakt bearbeiten</a>
            <br />
            <br />
            <a id="modal-784526" href="#modal-container-784526" class="btn btn-success" role="button" data-toggle="modal" th:text="#{domain.contactProfile.displayHistory}"> Verlauf anzeigen</a>
        </div>
    </div>

    <div th:unless="${contact == null}" class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-8">

                    <div class="row">
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-2">
                            <h4 th:text="#{domain.contactProfile.address}">Adresse
                            </h4>
                        </div>
                        <div class="col-md-1">
                            <h4>

                            </h4>
                        </div>
                        <div class="col-md-3">
                            <div class="list-group">
                                <div class="list-group-item">
                                    <font color='#808080' th:text="${contact.street}"></font>
                                </div>
                            </div>

                            <div class="list-group">
                                <div class="list-group-item">
                                    <font color='#808080' th:text="${contact.zip}+ ' ' +${contact.city}"></font>
                                </div>
                            </div>

                            <div class="list-group">
                                <div class="list-group-item">
                                    <font color='#808080' th:text="${contact.country}"></font>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12" style="height:40px;"></div>

                    <div class="row">
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-2">
                            <h4 th:text="#{domain.contactProfile.contactInfo}">
                                Kontaktinfo
                            </h4>
                        </div>
                        <div class="col-md-1">
                            <h4>

                            </h4>
                        </div>
                        <div class="col-md-3">
                            <div class="list-group">
                                <div class="list-group-item">
                                    <font color='#808080' th:text="${contact.tel}"></font>
                                </div>
                            </div>

                            <div class="list-group">
                                <a class="list-group-item" mail:to="${contact.mail}">
                                    <font color='#00b04e' th:text="${contact.mail}"></font>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12" style="height:40px;"></div>

                    <div class="row">
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-2">
                            <h4 th:text="#{domain.contactProfile.projects}">
                                Projekte
                            </h4>
                        </div>
                        <div class="col-md-1">
                            <h2>

                            </h2>
                        </div>
                        <div class="col-md-3">
                            <div class="list-group" th:each="project:${projects}">
                                <a th:href="@{/singleproject(id=${project.id})}" class="list-group-item">
                                    <font color='#00b04e' th:text="${project.name}"></font>
                                    <font color='#00b04e'>(</font>
                                    <font color='#00b04e' th:text="${project.getRunning()} ? 'Laufend' : ${project.status.name}"></font>
                                    <font color='#00b04e'>)</font>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12" style="height:40px;"></div>

                </div>
            </div>
        </div>
    </div>

    <div th:replace="layout/fragments/historyPopUp :: historyPopUp">
        static stuff
    </div>

</div>
</body>
</html>
