<!DOCTYPE html>
<html layout:decorator="layout/layout_page" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <title th:text="PROREMA - Impressum"></title>

    <style>

        .page-header {
            margin-bottom: 90px;
        }

    </style>

</head>
<body>

<div layout:fragment="content">

    <div class="page-header">
        <div class="row">
            <div class="col-md-9">
                <h1>
                    Impressum
                </h1>
            </div>
        </div>
    </div>

    <div class="jumbotron">
        <h3>
            Angaben gemäß § 5 TMG:
        </h3>
        <h4>
            <font color="#808080">
                Firma AG <br />
                Hauptstraße 1 <br />
                12345 Musterstadt <br />
            </font>
        </h4>
        <br />
        <h3>
            Vertreten durch:
        </h3>
        <h4>
            <font color="#808080">
                Dr. Viktor Vorstand
            </font>
        </h4>
        <br />
        <h3>
            Kontakt:
        </h3>
        <h4>
            <font color="#808080">
                Telefon:    05241 97974 <br />
                Telefax:    05241 97979 <br />
                E-Mail:     ITadministrator@firma.de <br />
            </font>
        </h4>
    </div>

</div>

</body>
</html>