<!DOCTYPE html>
<html layout:decorator="layout/layout_page" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <title th:text="PROREMA - ${skill.name}">PROREMA - Skill</title>

</head>
<body>

<div layout:fragment="content">

    <div class="page-header">
        <div class="row">
            <div class="col-md-9">
                <h1 th:text="#{domain.skillProfile.skillProfile}">
                    Skill Profil
                </h1>
            </div>
        </div>
    </div>

    <div th:unless="${skill == null}" class="jumbotron container-fluid">
        <div class="col-md-10">
            <h2>
                <b th:text="${skill.name}"></b>
            </h2>
            <h3>
            <font color='#808080' th:utext="${#strings.replace( #strings.escapeXml(skill.description),T(java.lang.System).getProperty('line.separator'),'&lt;br /&gt;')}">
            </font>
            </h3>
        </div>
        <div class="col-md-2">
            <br />
            <br />
            <a class="btn btn-success btn-large" th:href="@{/skillform(id=${skill.id})}" th:text="#{domain.skillProfile.editSkill}">Skill bearbeiten</a>
            <br />
            <br />
            <a id="modal-784526" href="#modal-container-784526" class="btn btn-success" role="button" data-toggle="modal" th:text="#{domain.userprofil.displayHistory}"> Verlauf anzeigen</a>
        </div>
    </div>


    <div th:unless="${skill == null}" class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-8">

                    <div class="row">
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-2">
                            <h4 th:text="#{domain.skillProfile.employeesWithSkill}">
                                Mitarbeiter mit diesem Skill
                            </h4>
                        </div>
                        <div class="col-md-1">
                            <h2>

                            </h2>
                        </div>
                        <div class="col-md-3">
                            <div class="list-group" th:each="employee:${employees}">
                                <a th:href="@{/userprofile(id=${employee.id})}" class="list-group-item">
                                    <font color='#00b04e' th:text="${employee.nameTitle}+' '+${employee.firstName}+' '+${employee.lastName}"></font>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12" style="height:40px;"></div>

                    <div class="row">
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-2">
                            <h4 th:text="#{domain.skillProfile.projectsWithSkill}">
                                Projekte mit diesem Skill
                            </h4>
                        </div>
                        <div class="col-md-1">
                            <h2>

                            </h2>
                        </div>
                        <div class="col-md-3">
                            <div class="list-group" th:each="project:${projects}">
                                <a th:href="@{/singleproject(id=${project.id})}" class="list-group-item">
                                    <font color='#00b04e' th:text="${project.name}"></font>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12" style="height:40px;"></div>

                </div>
            </div>
        </div>
    </div>

    <div th:replace="layout/fragments/historyPopUp :: historyPopUp">
        static stuff
    </div>

</div>
</body>
</html>
